* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(244, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    color: #2a2a2a;
}

main > .container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

main .sidebar {
    width: 340px;
    display: flex;
}

main .sidebar nav {
    background-color: gray;
    flex: 0;
    padding: 14px 8px;
}

main .sidebar section.editor {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 2rem;
    width: 100%;
}

main .sidebar section.editor > div {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 9px #dadada;
}

main .sidebar section.editor > div .side-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .sidebar section.editor > div .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .sidebar section.editor > div .side-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

main .sidebar section.editor > div .side-item button svg {
    fill: rgb(200, 50, 50);
    transition: 200ms ease-in-out;
}
main .sidebar section.editor > div .side-item button svg:hover {
    fill: red;
    scale: 1.1;
}

main .sidebar section.editor .form-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

main .sidebar section.editor .form-input input,
main .sidebar section.editor .form-button {
    padding: 8px 6px;
    border: 1px solid #d9d8e5;
    border-radius: 6px;
}

main .sidebar section.editor .form-input input:focus {
    outline: 2px solid #007bff66;
}

main .sidebar section.editor .form-input label {
    font-size: 0.9rem;
    color: #1c1c1c;
    font-weight: 400;
}

main .sidebar section.editor .form-button {
    font-weight: 600;
    cursor: pointer;
    color: #005bbb;
    transition: 300ms ease-in-out;
    margin-top: 1rem;
}

main .sidebar section.editor .form-button:hover {
    border: 1px solid #005bbb;
    background-color: #007bff10;
}

main .sidebar svg {
    width: 30px;
    fill: rgb(50, 50, 50);
}

main .sidebar > div {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px rgb(230, 230, 230);
}

main .sidebar .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main .sidebar .title > span {
    display: flex;
    gap: 14px;
    align-items: center;
}

main .sidebar form {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

main .sidebar form .form-input {
    display: flex;
    flex-direction: column;
}

main .sidebar form .date-group {
    display: flex;
    gap: 10px;
}


/* Resume */

main > .container > .preview {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main .container .resume {
    position: relative;
    margin-top: 30px;
    width: 21cm;
    min-height: 29.7cm;
    transform-origin: top;
    background-color: white;    
    box-shadow: 1px 1px 12px rgb(230, 230, 230);
}

main .resume > .resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding: 2.5rem 0;
    background-color: rgb(255, 225, 230);
}

main .resume > .resume-header .details {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main .resume > .resume-header .details > span {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
}

main .resume > .resume-header .details svg {
    width: 1.6rem;
}

main .resume-content section > h2 {
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(255, 225, 230);
}

main .resume > .resume-content {
    padding: 1.5rem 3rem;
}

main .resume .list-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 1.5rem 0;
}

main .resume section .list-container .right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main .resume section .list-container > div {
    display: flex;
    gap: 2rem;
    align-items: start;
}

main .resume svg {
    width: 1.4rem;
}
